<?xml version="1.0"?>

<model>

  <name>Schleicher_ASK_21</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alejandro Aguilar</name>
    <email>aguilarjaimes.ruben@gmail.com</email>
  </author>

  <description>
    A model of the Glider Schleicher ASK 21
  </description>

</model>